import React from 'react'
import styles from './index.module.less'
import classnames from 'classnames/bind'
const cx = classnames.bind(styles)

const {{ properCase name }} = () => {
  return (
    <div className={cx('container')}>{{ properCase name }}</div>
  )
}

export default {{ properCase name }}
